<h1>멋사 직장인 디버깅 테스트 <small>index.html.erb</small></h1>

<a class="btn btn-sm btn-secondary mb-3" href="/posts/new" role="button">글 쓰기</a>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">버튼</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
        <tr>
            <th scope="row"><%= post.id %></th>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td>
                <div class="btn-group" role="group">
                    <a href="/posts/<%= post.id %>/show" class="btn btn-sm btn-secondary">보기</a>
                    <a href="/posts/<%= post.id %>/edit" class="btn btn-sm btn-success">수정</a>
                    <a href="/posts/<%= post.id %>/destroy" class="btn btn-sm btn-danger">삭제</a>
                </div>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
